.InfoContainer{
    display: flex;
    flex-direction: row;
    padding: 0%;
    justify-content: left;
    border-bottom: 1px solid lightgray;
   
}
.CoverImage{
    object-fit: cover;
    height: 352px;
    width: auto;
    box-shadow: 0 3px 10px 0 rgb(255, 62, 62);
    padding: 20px;
    margin: 10px 0px 10px 20px;
}
.InfoColomn{
    display: flex;
    flex-direction: colomn;
    flex-wrap: wrap;
    margin: 20px;
    
}
.MovieName{
   
    overflow: auto;
    font-size: 22px;
  font-weight: 700;
  color: rgb(33, 30, 30);
  margin: 15px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
}
.Movieinfo{
    font-size: 16px;
    font-weight: 500;
    color: rgb(33, 30, 30);
    overflow: hidden;
    margin: 4px 0;
    text-overflow:clip;
    text-transform: capitalize;
}
span {
    opacity: 0.5;
  }

 .close{
      font-size: 16px;
  font-weight: 600;
  color: white;
  background: rgb(33, 30, 30);
  height: fit-content;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
 }